body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {

  text-decoration: none !important;
  color: rgb(228, 228, 228) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {

  color: #24232b;

}

.article-preview {
  border-top: 1px solid black;
  box-shadow: 0px 7px 7px silver;
  padding: 20px;
  text-align: center;
}

h2.navitem {
  position: relative;
  text-align: center;
  display: inline;
  margin-right: 40px;
  padding: 10px;
  top: 3px;
  font-size: 18px;
}

.navmenu {

    background-color: #24232b;
    height: 70px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;

}

img.site-logo {
  height: 60px;
  border-radius: 100%;
  position: absolute;
  top: 7px;
}
